.PostRepliesCollapsible {
  overflow: hidden;
}
.PostRepliesCollapsible[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.PostRepliesCollapsible[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
